ul {
    list-style: none;
}
li {
    background: antiquewhite;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: black;
    width: 50%;
}
p {
    font-size: 15px;
}
.explanation {
    display: none;
}
.arrow-checkbox {
    display: none;
}
.arrow-checkbox:checked + .explanation {
    display: block;
}
.arrow-label {
    cursor: pointer;
    position: relative;
}
.arrow-label::before {
    content: "◉";
    margin-left: 5px;
    float: right;
}
.add-button {
    display: flex;
    align-items: center;
    float: right;
    text-decoration: none;
}
.add-button button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.edit-term-button,
.update-term-button,
.editable-explanation {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.editable-explanation {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
}
.term-details {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: black;
    position: relative;
}
