.review-container {
    background-color: grey;
    padding: 20px;
    margin: 20px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
p {
    color: black;
    background-color: antiquewhite;
    border: 3px solid darkgreen;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.review-container:hover {
    transform: scale(1.01);
}
.review-section:hover {
    transform: scale(1.01);
}
.comment-section {
    background-color: lightgray;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    max-width: 600px;
}
.comment {
    color: black;
    background-color: white;
    border: 3px solid darkgreen;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.3s;
}
#delete-comment {
    background-color: darkgreen;
    color: gold;
    border: 2px solid gold;
    padding: 5px 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#delete-comment:hover {
    background-color: gold;
    color: darkgreen;
}
.author-section {
    background-color: darkgreen;
    margin: 20px;
    border: 3px solid darkgreen;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    max-width: 25%;
}
.author-section p {
    color: white;
    background-color: darkgreen;
    border: 3px solid darkgreen;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.3s;
}
.edit-link button, .delete-link button {
    background-color: darkgoldenrod;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}
