body {
    background-color: darkgreen;
    color: white;
    font-family: 'Arial', sans-serif;
}
h1 {
    color: gold;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    color: darkgreen;
}
input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: gold;
    color: darkgreen;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: darkgreen;
}
textarea {
    resize: none;
}
#pictureFile {
    margin-bottom: 10px;
    z-index: 1;
}
#file-name-placeholder {
    display: block;
    color: black;
}
.container-h-center {
    display: flex;
    flex-direction: column; /* Added this line */
    align-items: center;
    justify-content: center;
}
